// -------------------------------------------
// Color Palette
// -------------------------------------------

// white
$palette-white-000: #fff;

// gray
$palette-gray-100: #fafafa;
$palette-gray-500: #eee;
$palette-gray-700: #8a8d92;
$palette-gray-900: #343434;

// pink
$palette-pink-300: #fcebea;
$palette-pink-500: #fae1e0;

// purple
$palette-purple-300: #d6c1dc;
$palette-purple-500: #bb97c5;

// brown
$palette-brown-300: #e9d0a1;
$palette-brown-500: #e4c489;

//yellow
$palet-yellow-300: #ffe985;

// red
$palette-red-900: #cc0033;
