// -------------------------------------------
// Color Palette
// -------------------------------------------

// white
$palette-white-000: #fff;

// gray
$palette-gray-100: #fafafa;
$palette-gray-500: #eee;
$palette-gray-700: #8a8d92;
$palette-gray-900: #343434;

// brown
$palette-brown-100: #f3eee6;
$palette-brown-900: #d3bd9f;

// red
$palette-red-900: #cc0033;
