@use "function" as func;
@use "palette";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Quicksand:wght@700&display=swap");

// -------------------------------------------
// Color Settings
// -------------------------------------------

// base
$base-color-primary: palette.$palette-white-000;
$base-color-secondary: palette.$palette-brown-100;

// main
$main-color-primary: palette.$palette-brown-900;

// key
$key-color-red: palette.$palette-red-900;
$key-color-brown: palette.$palette-brown-900;

// text
$text-color-primary: palette.$palette-gray-900;
$text-color-accent: palette.$palette-brown-900;
$text-color-gray: palette.$palette-gray-700;
$text-color-light: palette.$palette-white-000;

// background
$color-body-background: $base-color-primary;

// border
$color-border-main: palette.$palette-gray-500;

// -------------------------------------------
// Font Size Settings
// -------------------------------------------

// font-size
$font-size-base: func.fz(16);
$font-size-xxl: calc(#{$font-size-base} + #{func.fz(16)}); // 32
$font-size-xl: calc(#{$font-size-base} + #{func.fz(8)}); // 24
$font-size-lg: calc(#{$font-size-base} + #{func.fz(2)}); // 18
$font-size-sm: calc(#{$font-size-base} - #{func.fz(2)}); // 14
$font-size-xs: calc(#{$font-size-base} - #{func.fz(4)}); // 12

// -------------------------------------------
// Typeface Settings
// -------------------------------------------

// Typeface
$base-font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3",
  "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック",
  "MS P Gothic", sans-serif;

// -------------------------------------------
// Break Points
// -------------------------------------------
$breakpoints: (
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1200px,
  "xxl": 1440px,
) !default;
