@use '@/styles/function' as func;
@use '@/styles/variables' as var;
@use '@/styles/mixins' as mixin;

.slider {
  overflow: hidden;
}

.sliderList {
  list-style: none;
  display: flex;
}

.introduction {
  padding: func.em(64) 0;
  background-color: var.$base-color-secondary;

  @include mixin.mq() {
    padding: func.em(80) 0;
  }

  p + p {
    margin-top: func.em(16);
  }
}

.contentsWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.cardListWrapper {
  width: 100%;
  padding: func.em(64) func.em(24);
  border: 2px solid var.$border-color-main;
  border-radius: 4px;
  position: relative;
  background-color: var.$base-color-primary;

  @include mixin.mq() {
    padding: func.em(64) func.em(40);
  }

  &::before,
  &::after {
    content: '';
    display: block;
    background-color: var.$base-color-primary;
    border-radius: 4px;
    position: absolute;
  }

  &::before {
    width: 100%;
    height: calc(100% + 2px);
    border: 2px solid var.$border-color-main;
    z-index: -1;
    top: 4px;
    left: -6px;
  }

  &::after {
    width: 100%;
    height: 100%;
    border: 2px solid var.$border-color-main;
    z-index: -2;
    top: 10px;
    left: -10px;
  }
}

.cardList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: func.em(-16);

  @include mixin.mq() {
    margin-bottom: func.em(-24);
  }
}

.card {
  width: 100%;
  margin-bottom: func.em(16);

  @include mixin.mq() {
    width: calc((100% - #{func.em(24)}) / 2);
    margin-bottom: func.em(24);
  }
}
