@use '@/styles/function' as func;
@use '@/styles/variables' as var;
@use '@/styles/mixins' as mixin;

.header {
  background-color: var.$base-color-secondary;
  height: 80px;
  padding: 0 64px;
  display: flex;
  align-items: center;
}
