@use '@/styles/function' as func;
@use '@/styles/variables' as var;
@use '@/styles/mixins' as mixin;

.stepList {
  list-style: none;
  counter-reset: stepNumber;
  position: relative;

  &::after {
    content: 'fin.';
    color: var.$text-color-light;
    font-size: func.fz(40);
    font-family: 'Cookie', cursive;
    line-height: 1;
    position: absolute;
    right: 0;
    bottom: func.em(-8);
    transform: translateY(100%);
  }
}

.stepItem {
  border-bottom: 1px solid var.$border-color-light;
  padding-bottom: func.em(24);
  margin-bottom: func.em(24);
  position: relative;
  z-index: 1;
  counter-increment: stepNumber;

  &::before {
    content: counter(stepNumber, decimal-leading-zero);
    color: var.$text-color-light;
    font-size: func.fz(64);
    font-family: var.$font-family-english;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.stepInner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  @include mixin.mq() {
    flex-direction: row;
  }
}

.stepContents {
  width: 100%;
  padding-top: func.em(16);

  @include mixin.mq() {
    width: calc(100% - 246px - #{func.em(24)});
    padding-top: func.em(16);
    padding-left: func.em(32);
  }
}

.stepTitle {
  font-size: func.fz(18);
  font-weight: bold;
  padding-left: func.em(24, 18);
  margin-bottom: func.em(16, 18);

  @include mixin.mq() {
    padding-left: 0;
    margin-bottom: func.em(8, 18);
  }
}

.stepThumbnail {
  width: 100%;
  margin-top: func.em(24);

  @include mixin.mq() {
    flex-basis: 246px;
    margin-top: 0;
  }

  img {
    width: 100%;
  }
}
