@use '@/styles/function' as func;
@use '@/styles/variables' as var;
@use '@/styles/mixins' as mixin;

.mainVisual {
  img {
    width: 100%;
    height: 436px;
    object-fit: cover;
    object-position: center;
  }
}

.introductionSection {
  padding: func.em(80) 0 func.em(80);
}

.container {
  width: 90%;
  max-width: 760px;
  margin: auto;
  position: relative;
}

.primaryHeading {
  font-size: func.fz(32);
  font-family: var.$font-family-title;
  text-transform: capitalize;
  margin-bottom: func.em(40, 32);
}

.title {
  line-height: 1;

  [lang='ja'] {
    font-size: func.fz(40);
    line-height: 1.7;
    display: block;
    padding-bottom: func.em(4, 40);
    border-bottom: 1px solid #ddd;
    margin-bottom: func.em(8, 40);
  }

  [lang='tl'] {
    font-size: func.fz(18);
    font-family: var.$font-family-english;
    font-weight: normal;
    line-height: 1;
    color: var.$text-color-gray;
  }
}

.metaData {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: func.em(16);
}

.level {
  margin-right: func.em(24);
}

.timeWrapper {
  display: flex;
  align-items: center;
}

.time {
  font-family: var.$font-family-english;
  font-size: func.fz(14);
  display: inline-block;
  margin-left: func.em(4, 14);
}

.introduction {
  margin-top: func.em(40);
}

.note {
  border: 2px solid;
  width: 100%;
  max-width: 560px;
  padding: func.em(24) func.em(64) func.em(40) func.em(24);
  margin: func.em(64) auto 0;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    background-image: linear-gradient(
      to bottom,
      var.$border-color-main,
      var.$border-color-main 8px,
      transparent 8px,
      transparent 8px
    );
    background-size: 1px 12px;
    background-position: left bottom;
    background-repeat: repeat-y;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: 0;
    width: 40px;
    background-image: url('/images/circle.svg');
    background-repeat: repeat-y;
    background-size: 60%;
    background-position: center top;
  }
}

.noteTitle {
  font-size: func.fz(20);
  margin-bottom: func.em(16, 20);
}

.serving {
  font-size: func.fz(14);
  font-weight: normal;
}

.materialList {
  border-top: 3px solid var.$main-color-primary;
  border-bottom: 3px solid var.$main-color-primary;
}

.materialListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: func.em(8) func.em(16);
  min-height: 40px;
  background-image: linear-gradient(
    to right,
    var.$main-color-primary,
    var.$main-color-primary 8px,
    transparent 8px,
    transparent 8px
  );
  background-size: 12px 1px;
  background-position: left bottom;
  background-repeat: repeat-x;

  &:last-child {
    background-image: inherit;
  }

  &:nth-child(odd) {
    background-color: var.$base-color-secondary;
  }
}

.materialListTitle {
  flex-basis: 50%;
}

.materialListAmount {
  flex-basis: calc(50% - #{func.em(16)});
}

.point {
  font-family: var.$font-family-accent;
  padding: func.em(24) func.em(16) 0;
}

// how to cook
.cookingSection {
  padding: func.em(64) 0 func.em(120);
  background-color: var.$base-color-secondary;
}

.cookingContainer {
  position: relative;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 54px;
    background-size: contain;
    background-position: center;
    position: absolute;
  }

  &::before {
    background-image: url('/images/clip_purple.svg');
    top: calc(#{func.em(-64)} - 13px);
    right: 0;
    transform: rotate(-9deg);
  }

  &::after {
    background-image: url('/images/clip_light_purple.svg');
    top: calc(#{func.em(-64)} + 10px);
    right: -36px;
    transform: rotate(19deg);
  }
}

.stepList {
  list-style: none;
  counter-reset: stepNumber;
  position: relative;

  &::after {
    content: 'fin.';
    color: var.$text-color-light;
    font-size: func.fz(40);
    font-family: 'Cookie', cursive;
    line-height: 1;
    position: absolute;
    right: 0;
    bottom: func.em(-8);
    transform: translateY(100%);
  }
}

.stepItem {
  border-bottom: 1px solid var.$border-color-light;
  padding-bottom: func.em(24);
  margin-bottom: func.em(24);
  position: relative;
  z-index: 1;
  counter-increment: stepNumber;

  &::before {
    content: counter(stepNumber, decimal-leading-zero);
    color: var.$text-color-light;
    font-size: func.fz(64);
    font-family: var.$font-family-english;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.stepInner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.stepContents {
  width: calc(100% - 246px - #{func.em(24)});
  padding-top: func.em(16);
  padding-left: func.em(32);
}

.stepTitle {
  font-size: func.fz(18);
  font-weight: bold;
  margin-bottom: func.em(8, 18);
}

.stepThumbnail {
  flex-basis: 246px;
}

.tapeNote {
  display: inline-block;
  position: absolute;
  bottom: -100px;
  right: -30px;
  transform: translateY(100%);

  &::before,
  &::after {
    content: '';
    display: inline-block;
    height: 32px;
    background-color: rgb(255 255 255 / 90%);
    box-shadow: 0 0 4px rgb(0 0 0 / 12%);
    position: absolute;
    z-index: 5;
  }

  &::before {
    width: 108px;
    top: -10px;
    left: -18px;
    transform: rotate(-15deg);
  }

  &::after {
    width: 120px;
    bottom: -10px;
    right: -18px;
    transform: rotate(-4deg);
  }
}

.eatingTextBox {
  display: inline-block;
  transform: rotate(2deg);
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var.$key-color-purple;
    z-index: -1;
    border: 2px solid;
    border-radius: 2px;
    transform: rotate(-2deg);
  }
}

.eatingText {
  display: inline-block;
  font-family: var.$font-family-accent;
  line-height: 1.5;
  max-width: 320px;
  margin: auto;
  border: 2px solid;
  border-radius: 2px;
  padding: func.em(40) func.em(24);
  background-color: var.$base-color-primary;
}

// comment
.commentSection {
  padding: func.em(80) 0;

  &.hasSpace {
    padding-top: func.em(160);
  }
}

.comment {
  white-space: pre-wrap;
}
